//Mixins

/* media query mixin -

@mixin bp($breakpoint){
   $map : (small: 480px, medium: 770px, large: 1140px);
   
   @if map-has-key($map, $breakpoint){
      @media all and (min-width: #{map-get($map, $breakpoint)}){
          @content;
        }
   }
   @else{
      @warn "There is no value #{$breakpoint} in the list of breakpoints";
   }
}

to use  -

.sidebar {
    width: 33.33%;
    @include bp(baby-bear) {
        width: 100%;
    }
}

*/

